@{
    ViewData["Title"] = "Habitacion";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Habitacion3</title>

</head>
  <body>
    <h1>@ViewBag.Titulo </h1>

    <p>@ViewBag.Titulo</p>

    <img src="@Viewbag.Img" />

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.869913259682!2d-58.43513052341753!3d-34.60745085769685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca693189f857%3A0x47b3a85a3eb776ab!2sAv.%20Patricias%20Argentinas%20131%2C%20C1414%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722512665247!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    <form method="post" action="">
        <input type="text" name="clave" placeholder="Tu respuesta"/>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Validar respuesta</button>
        </div>
    </form>

  </body>
</html>

