@{
    ViewData["Title"] = "Index";
}

<img src="" alt="Sala de Escape" /> <!--Logo-->

<h1>Crack The Code</h1>
<h3>Una experiencia inolvidable</h3>

<div class="Tarjetas">

    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="Tutorial">
        <div class="card-body">
            <p class="card-text">Simples pasos para empezar esta aventura.</p>
            <a href="#" class="btn btn-primary">Ir al Tutorial</a>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg">EMPEZAR</button>

    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="Créditos">
        <div class="card-body">
            <p class="card-text">Los autores detrás de este juego.</p>
            <a href="#" class="btn btn-primary">Ir a Créditos</a>
        </div>
    </div>

</div>