@{
    ViewData["Title"] = "Tutorial";
}

<h1>Tutorial</h1>

<p>Presentamos nuestra sala de escape virtual: Crack the Code. Este juego es ideal para aquellas mentes curiosas que disfruten de un buen acertijo. Juega con amigos o desafiate a ti mismo, y conviértete en el detective protagonista de esta historia!
</p>

<p>En esta sala protagonizarás como una señora mayor quien, debido a su alzhemier, ha perdido la noción de importantes pedazos de su vida. Deberás ayudarla a encontrar información para que pueda acceder a su cuenta bancaria.</p>

<h5>¿Cómo funciona?</h5>
<p>Al comenzar el juego te encontrarás en la primera sala. Para avanzar, deberás resolver el acertijo que se te presente. Una vez que tengas tu respuesta, ingrésala en la casilla al final de la página. Si tu intento fue correcto, entrarás a la siguiente sala, si no, deberás volver a intentarlo. Suerte!
</p>

<div class="fotosSalas">

    <div class="sala">
        <h3>Sala 1</h3>
        <img src="" alt="Sala 1" />
    </div>
    
    <div class="sala">
        <h3>Sala 2</h3>
        <img src="" alt="Sala 1" />
    </div>

    <div class="sala">
        <h3>Sala 3</h3>
        <img src="" alt="Sala 1" />
    </div>

    <div class="sala">
        <h3>Sala 4</h3>
        <img src="" alt="Sala 1" />
    </div>

    <div class="sala">
        <h3>Sala 5</h3>
        <img src="" alt="Sala 1" />
    </div>

</div>